@use "../../../styles/variables/colors";
@use "../../../styles/variables/fonts";
@use "../../../styles/mixins/mixins";

.madal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: colors.$bg_veil;
}

.modal {
  width: 100%;
  max-width: 560px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 60px 50px;

  background-color: colors.$bg_body;
  box-shadow: 2px 2px 12px 3px colors.$shadow_dark;

  border-radius: 16px;
  border: 1px solid colors.$gen_dark;

  &:hover {
    border: 1px solid colors.$gen_hover-dark;
    box-shadow: 3px 3px 24px 4px colors.$shadow_dark-green;
  }

  .modal__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
  }

  .modal__header {
    // margin-bottom: 25px;

    &-img-box {
      font-size: 230px;
      width: 1em;
      height: 1em;

      // color: gray;
      // border: 1px solid colors.$gen_dark;
      // border-radius: 12px;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: contain;
    }
  }

  .modal__main {
    text-align: center;

    &-title {
      @include mixins.Text(1.6rem, 600, colors.$gen, fonts.$Inter);
      margin-bottom: 40px;
    }
    &-text {
      @include mixins.Text(1.2rem);
    }
  }

  .modal__footer {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .modal__footer-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

// .button__wrapper {
//   width: 100%;
//   display: flex;
//   place-content: center space-around;
// }
