.pages {
  padding-top: 30px;
  padding-bottom: 50px;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.pages__cart {
  &.wrapper {
    min-height: calc(100vh - 145px - 62px - (30px * 2) - 20px);
    text-align: center;
  }

  & .btn__to_cart {
    margin-bottom: 40px;
  }
}

.pages__not-found {
  &.wrapper {
    text-align: center;
    margin-bottom: 50px;
  }
  &.code {
    font-size: 160px;
  }
  &.text {
    font-size: 30px;
  }
}
