@use "../styles/variables/colors.scss";

.form {
  //   display: grid;
  //   grid-template-columns: repeat(100px, 1fr);
  //   display: flex;
  //   column-gap: 20px;
  padding: 80px 0;
}

.fieldset-outer {
  display: flex;
  column-gap: 60px;
  margin-bottom: 30px;
  //   border: 1px solid salmon;
  // font-size: 16px;
  // font-weight: 600;
}
